.dashboard-card {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.15);  
 }
 
 
 .dashboard-card-content {
   text-align: center;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   align-items: stretch;
 }
 
 mat-card {
    display: flex;
    flex-direction: column;
 }