<h1 style="font-size: xx-large;">Visualización comparativa de métricas de I+D entre comunidades autónomas</h1>
<div class="globusContainer" id="globus" ></div>
<h2 style="display:inline-block;margin-right:30px;
    margin-top: 10px;
    font-size: x-large;
    text-align: left;
    width: 700px;
    " >{{tituloMapa}}</h2>
<div class="gradient" style="width: 400px; display:inline-block; align-content: right;">
    <span class="grad-step" [style.background]="colorMin"> </span>
    <span class="grad-step" [style.background]="colorPrimerCuartil"> </span>
    <span class="grad-step" [style.background]="colorMed"> </span>
    <span class="grad-step" [style.background]="colorTercerCuartil"> </span>
    <span class="grad-step" [style.background]="colorMax"> </span>
    <span class="domain-min">{{intervaloMin}}</span>
    <span class="domain-1cuartil">{{intervaloPrimerCuartil}}</span>
    <span class="domain-med">{{intervaloMed}}</span>
    <span class="domain-3cuartil">{{intervaloTercerCuartil}}</span>
    <span class="domain-max">{{intervaloMax}}</span>
</div>
